feather-format==0.4.1
vonage==3.1.0
tk==0.1.0
pandas==1.4.4
schedule==1.1.0
nexmo==2.5.2
Kivy==2.1.0
kivy-deps.angle==0.3.2
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
DateTime==4.4