feather-format==0.4.1
feather==0.1.1
vonage==3.1.0
tk==0.1.0
pandas==1.4.4
schedule==1.1.0
nexmo==2.5.2
Kivy==2.1.0
DateTime==4.4
pillow==8.2.0
python-slugify==5.0.2
requests==2.25.1
flask-cors==3.0.10